<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enlace Expirado</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="header">
        <div class="container">
        <a href="/login" class="logo-link"><h1 class="logo">Coder Steam</h1></a>
        <nav class="nav">
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/products">Productos</a></li>
              <li><a href="/about">Acerca de</a></li>
              <li><a href="/contact">Contacto</a></li>
              <li><a href="/profile"><i class="fas fa-user"></i> </a></li>
              <li><a href="/cart"><i class="fas fa-shopping-cart"></i> </a></li>
            </ul>
        </nav>
        </div>
  </header>
  <div class="container">
    <h1>Enlace Expirado</h1>
    <p>El enlace para restablecer tu contraseña ha expirado.</p>
    <p>Por favor, solicita un nuevo enlace.</p>
    <a href="/request-password-reset" class="btn">Solicitar Nuevo Enlace</a>
  </div>
</body>
</html>